---
import Layout from '@/layouts/layout.astro';
import Root from '@/layouts/root.astro';

export function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'pt' } }];
}
---

<Root>
  <Layout>
    <div class="flex h-screen flex-col items-center justify-center gap-4"></div>
  </Layout>
</Root>
