---
import { CreditCardIcon } from '@phosphor-icons/react';
import { LanguageSelect } from '@/components/layout/language-select';
import { LayoutShield } from '@/components/layout/shield';
import { ThemeSwitch } from '@/components/layout/theme-switch';
import { getPath } from '@/helpers/get-path';
import { getTranslation } from '@/utils/i18n';

const { t } = getTranslation(Astro.currentLocale);

const currentPath = Astro.url.pathname;
---

<body class="flex min-h-screen flex-col bg-base-100 text-base-content">
  <header class="sticky top-0 z-10 bg-base-200">
    <div class="container flex flex-col items-center justify-center gap-4 sm:flex-row sm:justify-between">
      <a href={getPath(currentPath, '/')} class="inline-flex items-center gap-2">
        <CreditCardIcon/>
        <h2 class="text-xl font-medium tracking-wide">{t("components.leakedCards")}</h2>
      </a>
      <div class="flex items-center gap-2">
        <ThemeSwitch client:load />
        <LanguageSelect client:load currentPath={currentPath} />
      </div>
    </div>
  </header>
  <main class="container flex-1 py-12">
    <slot />
  </main>
  <footer class="bg-base-200">
    <div class="container flex items-center justify-center gap-4">
      <span>
        {t("components.createdBy")}
        <a href="https://github.com/YaGRRusso" target="_blank" class="link text-accent link-hover">Yago Russo</a>
      </span>
    </div>
  </footer>
  <LayoutShield client:load />
</body>
